<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.chronic.mapper.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.xxx.chronic.pojo.Question">
    <!--@mbg.generated-->
    <!--@Table question-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, description
  </sql>
</mapper>