<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.chronic.mapper.SickMapper">
  <resultMap id="BaseResultMap" type="com.xxx.chronic.pojo.Sick">
    <!--@mbg.generated-->
    <!--@Table sick-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="is_volunteer" jdbcType="INTEGER" property="isVolunteer" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="drug_info" jdbcType="VARCHAR" property="drugInfo" />
    <result column="doctor_advice" jdbcType="VARCHAR" property="doctorAdvice" />
    <result column="past_medical" jdbcType="VARCHAR" property="pastMedical" />
    <result column="exam_info" jdbcType="VARCHAR" property="examInfo" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="INTEGER" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, age, sex, is_volunteer, phone, address, drug_info, doctor_advice, past_medical, 
    exam_info, `password`, `role`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sick
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sick
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xxx.chronic.pojo.Sick" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sick (`name`, age, sex, 
      is_volunteer, phone, address, 
      drug_info, doctor_advice, past_medical, 
      exam_info, `password`, `role`
      )
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, 
      #{isVolunteer,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{drugInfo,jdbcType=VARCHAR}, #{doctorAdvice,jdbcType=VARCHAR}, #{pastMedical,jdbcType=VARCHAR}, 
      #{examInfo,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xxx.chronic.pojo.Sick" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sick
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="isVolunteer != null">
        is_volunteer,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="drugInfo != null">
        drug_info,
      </if>
      <if test="doctorAdvice != null">
        doctor_advice,
      </if>
      <if test="pastMedical != null">
        past_medical,
      </if>
      <if test="examInfo != null">
        exam_info,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="role != null">
        `role`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="isVolunteer != null">
        #{isVolunteer,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="drugInfo != null">
        #{drugInfo,jdbcType=VARCHAR},
      </if>
      <if test="doctorAdvice != null">
        #{doctorAdvice,jdbcType=VARCHAR},
      </if>
      <if test="pastMedical != null">
        #{pastMedical,jdbcType=VARCHAR},
      </if>
      <if test="examInfo != null">
        #{examInfo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxx.chronic.pojo.Sick">
    <!--@mbg.generated-->
    update sick
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="isVolunteer != null">
        is_volunteer = #{isVolunteer,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="drugInfo != null">
        drug_info = #{drugInfo,jdbcType=VARCHAR},
      </if>
      <if test="doctorAdvice != null">
        doctor_advice = #{doctorAdvice,jdbcType=VARCHAR},
      </if>
      <if test="pastMedical != null">
        past_medical = #{pastMedical,jdbcType=VARCHAR},
      </if>
      <if test="examInfo != null">
        exam_info = #{examInfo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        `role` = #{role,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxx.chronic.pojo.Sick">
    <!--@mbg.generated-->
    update sick
    set `name` = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      is_volunteer = #{isVolunteer,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      drug_info = #{drugInfo,jdbcType=VARCHAR},
      doctor_advice = #{doctorAdvice,jdbcType=VARCHAR},
      past_medical = #{pastMedical,jdbcType=VARCHAR},
      exam_info = #{examInfo,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `role` = #{role,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>